<h1 class="text-red-800 text-4xl">Hello</h1>
<p>Salut</p>
<div class="bg-pink-400 sm:bg-blue-400">DIV</div>
<ul>
  <li>Pomme</li>
  <li>Poire</li>
  <li>Orange</li>
</ul>
<div>
  <button class="btn">Click Me</button>
</div>
<a class="btn" href="http://google.com">lien google</a>