/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

}

@layer components {
    .btn {
        @apply bg-slate-800 text-neutral-200 p-2 border border-neutral-800 rounded-sm hover:bg-neutral-200 hover:text-neutral-800;
    }
}